<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="book"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item>
      <ion-label>Tentang Aplikasi</ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-text>
        <p>Aplikasi ini ditujukan kepada pengguna pelaku usaha mikro</p>
        <p>Untuk membantu didalam pencatatan ataupun pembukuan penjualan dan pengeluaran harian toko</p>
      </ion-text>
    </ion-item-divider>

    <ion-item>
      <ion-label>Hubungi Kami</ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-text color="secondary">
        <p><ion-icon slot="start" name="mail"></ion-icon> tomgithawk@gmail.com</p>
        <p><ion-icon name="logo-whatsapp"></ion-icon> 081220848525</p>
      </ion-text>
    </ion-item-divider>

  </ion-item-group>
</ion-content>
