<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BukuToko</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <section>
      <ion-button expand="full">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        Login
      </ion-button>
    </section>

    <section>
      <ion-button expand="block" fill="clear" routerLink="/book/">
        Local Login
      </ion-button>
    </section>
  </div>
</ion-content>
